### String Based Assignment Problem

##### 1. Write a program to reverse a string.

In [23]:
str_1 = input()
reverse_string = str_1[::-1]
print(f"Original String is {str_1}")
print(f"Reverse String is {reverse_string}")

Original String is Cool
Reverse String is looC

##### 2. Check if a string is a palindrome.

In [26]:
str_2 = input()
lower_str_2 = str_2.lower()
rev_string = lower_str_2[::-1]
if lower_str_2 == rev_string:
    print(f"{str_1} is palindrome")
else:
    print(f"{str_1} is not palindrome")

Cool is not palindrome

##### 3. Convert a string to uppercase.

In [27]:
str_3 = input()
upper_str_3 = str_3.upper()
print(f"String in upper case : {upper_str_3}")

String in upper case : CAPITAL

##### 4. Convert a string to lowercase.

In [29]:
str_4 = input()
lower_str_4 = str_4.lower()
print(f"String in lower case : {lower_str_4}")

String in lower case : capital

##### 5. Count the number of vowels in a string.

In [30]:
str_5 = input()
lower_str_5 = str_5.lower()
vowels_count = lower_str_5.count('a') + lower_str_5.count('e') + lower_str_5.count('i') + lower_str_5.count('o') + lower_str_5.count('u')
print(f"Number of vowels is {vowels_count}")

Number of vowels is 11

##### 6. Count the number of consonants in a string.

In [5]:
str_6 = input()
lower_str_6 = str_6.lower()

# consonants_count = lower_str_6.count('b') + lower_str_6.count('c') + lower_str_6.count('d') + lower_str_6.count('f') + lower_str_6.count('g') + lower_str_6.count('h') \
#     + lower_str_6.count('j') + lower_str_6.count('k') + lower_str_6.count('l') + lower_str_6.count('m') + lower_str_6.count('n') + lower_str_6.count('k') + lower_str_6.count('p') \
#         + lower_str_6.count('q') + lower_str_6.count('r') + lower_str_6.count('s') + lower_str_6.count('v') + lower_str_6.count('w') + lower_str_6.count('x') + lower_str_6.count('y') \
#             + lower_str_6.count('z')

result = 0
for i in lower_str_6:
    if i not in 'aeiouAEIOU' and i!= ' ':
        result += 1

    
print(f"Number of consonants is {result}")

Number of consonants is 4

##### 7. Remove all whitespaces from a string.

In [42]:
str_7 = input()
print("String after removing all spaces : ",str_7.replace(" ", ""))

String after removing all spaces :  Countthenumberofconsonantsinastring.

##### 8. Find the length of a string without using the `len()` function.

In [3]:
str_8 = 'python is easy'

length = 0
for i in str_8:
    length += 1

print(f"length of the string is: {length}")

length of the string is: 14

##### 9. Check if a string contains a specific word.

In [50]:
str_9 = input("Enter String")
word = input("Enter word")
lower_word = word.lower()
lower_str_9 = str_9.lower()

print("Specific word present in string:",lower_word in lower_str_9)

Specific word present in string: True

##### 10. Replace a word in a string with another word.

In [5]:
str_10 = "Ramu is good boy"
print(f"string after replace good with bad: {str_10.replace('good', 'bad')}")

string after replace good with bad: Ramu is bad boy

##### 11. Count the occurrences of a word in a string.

In [8]:
str_11 = "I love super heros. Sometimes heros will come to save from demons. We can also become heros"
count_heros = str_11.count('heros')

print(f"count of heros is: {count_heros}")

count of heros is: 3

##### 12. Find the first occurrence of a word in a string.

In [10]:
str_12 = "Welcome to the python class. this class will give idea about python and OOPS concepts."
ind = str_12.find('class')

print(f"index of the first word is: {ind}")

index of the first word is: 22

##### 13. Find the last occurrence of a word in a string.

In [11]:
str_13 = "Welcome to the python class. this class will give idea about python and OOPS concepts."
last_ind = str_13.rfind('class')

print(f"last index of the specific word: {last_ind}")

last index of the specific word: 34

##### 14. Split a string into a list of words.

In [13]:
str_14 = "Ramu is a good boy!"
list_str = str_14.split()
print(f"string to list: {list_str}")

string to list: ['Ramu', 'is', 'a', 'good', 'boy!']

##### 15. Join a list of words into a string.

In [82]:
list_15 = ['Ramu', 'is', 'a', 'good', 'boy!']
print("list of join:", " ".join(list_15))

list of join: Ramu is a good boy!

##### 16. Convert a string where words are separated by spaces to one where wordsare separated by underscores.

In [1]:
str_16 = "Welcome to python course"

str16_ans = str_16.replace(" ", '-')

print(f"String after conversionL {str16_ans}")

String after conversionL Welcome-to-python-course

##### 17. Check if a string starts with a specific word or phrase.

In [14]:
str_17 = "I love India!"
if str_17.startswith("I love"):
    print("Yes")
else:
    print("No")

Yes

##### 18. Check if a string ends with a specific word or phrase.

In [15]:
str_18 = "I love India!"
if str_18.endswith("India!"):
    print("Yes")
else:
    print("No")

Yes

##### 19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [16]:
str_19 = "i love cricket"
print(f"title of the string is: {str_19.title()}")

title of the string is: I Love Cricket

##### 20. Find the longest word in a string.

In [17]:
str_20 = "find the longest word in a string"
list_str_20 = str_20.split()
long_str = 0
for word in list_str_20:
    if len(word) >= long_str:
        long_word = word
        long_str = len(word)

print(f"longest word is: {long_word}")

longest word is: longest

##### 21. Find the shortest word in a string.

In [18]:
str_21 = "find the longest word in a string"
list_str_21 = str_21.split()
short_str = list_str_21[0]
for word in list_str_21:
    if len(word) <= len(short_str):
        short_word = word
        short_str = word

print(f"shortest word is: {short_word}")

shortest word is: a

##### 22. Reverse the order of words in a string.

In [20]:
str_22 = input()
list_str_22 = str_22.split()

reverse_list = list_str_22[::-1]
reverse_str = " ".join(reverse_list)
print(f"reverse of the string is: {reverse_str}")

reverse of the string is: good is Ramu

##### 23. Check if a string is alphanumeric.

In [22]:
str_23 = input()
if str_23.isalnum():
    print("Yes, String is alphanumeric.")
else:
    print("No, string is not alphanumeric")

Yes, String is alphanumeric.

##### 24. Extract all digits from a string.

In [23]:
str_24 = input()
list_str_24 = list(str_24)
ans = []
for char in list_str_24:
    if char.isnumeric():
        ans.append(char)

str_digit = "".join(ans)

print(f"digits from string: {str_digit}")

digits from string: 36

##### 25. Extract all alphabets from a string.

In [24]:
str_25 = input()
list_str_25 = list(str_25)
ans = []
for char in list_str_25:
    if char.isalpha():
        ans.append(char)

str_alpha = "".join(ans)
print(f"alphabets from string: {str_alpha}")

alphabets from string: one

##### 26. Count the number of uppercase letters in a string.

In [25]:
str_26 = input()
list_str_26 = list(str_26)
ans = 0
for char in list_str_26:
    if char.isupper():
        ans +=1

print(f"Number of uppercae letters: {ans}")

Number of uppercae letters: 3

##### 27. Count the number of lowercase letters in a string.

In [26]:
str_27 = input()
list_str_27 = list(str_27)
ans = 0
for char in list_str_27:
    if char.islower():
        ans +=1

print(f"Number of lower case letters: {ans}")

Number of lower case letters: 4

##### 28. Swap the case of each character in a string.

In [27]:
str_28 = "Happy BirtheDay"
s = str_28.swapcase()

print(f"str after swapcase: {s}")

str after swapcase: hAPPY bIRTHEdAY

##### 29. Remove a specific word from a string.

In [30]:
str_29 = "Florida is beautiful city"
s = str_29.replace("city", "")

print(f"string after remove specific word: {s}")

string after remove specific word: Florida is beautiful

##### 30. Check if a string is a valid email address.

In [31]:
str_30 = input()
if str_30.endswith('@gmail.com'):
    print(f"Yes, it is valid email")
else:
    print(f"No, it is not valid")

Yes, it is valid email

#### 31. Extract the username from an email address string.

In [32]:
str_31 = input()
list_str_31 = str_31.split('@')[0]
print(f"username from email: {list_str_31}")

username from email: prasad

##### 32. Extract the domain name from an email address string.

In [34]:
str_32 = input()
list_str_32 = (str_32.split('@')[-1]).split('.')[0]
print(f"domain name from email:{list_str_32}")

domain name from email:gmail

##### 33. Replace multiple spaces in a string with a single space.

In [35]:
str_33 = "This is  multi    space in a   string with single    space"
s = " ".join(str_33.split())

print(f"string after replace multiple spaces with singl space: {s}")

string after replace multiple spaces with singl space: This is multi space in a string with single space

##### 34. Check if a string is a valid URL.

In [36]:
str_33 = input()

if str_33.startswith('https://') or str_33.startswith('http://'):
    print(f"yes, string is valid URL")
else:
    print(f"No, its not valid URL")

yes, string is valid URL

##### 35. Extract the protocol (http or https) from a URL string.

In [37]:
str_34 = input()
s = str_34.split(':')[0]

print(f"protocol of the URL: {s}")

protocol of the URL: http

##### 36. Find the frequency of each character in a string.

In [153]:
str_35 = input()
list_str_35 = list(str_35)
unique = []
for char in list_str_35:
    if char not in unique:
        print(f"count of {char} is {str_35.count(char)}")
        unique.append(char)

count of H is 1
count of a is 1
count of P is 1
count of p is 1
count of y is 1

##### 37. Remove all punctuation from a string.

In [14]:
import string

str37 = 'pR@s#d'

translator = str.maketrans('', '', string.punctuation)
s = str37.translate(translator)
s

print(f"String after remove all punctuation: {s}")

String after remove all punctuation: pRsd

##### 38. Check if a string contains only digits.

In [41]:
str_38 = input()
if str_38.isdigit():
    print("yes, contains only digits")
else:
    print("No")

yes, contains only digits

##### 39. Check if a string contains only alphabets.

In [42]:
str_39 = input()
if str_39.isalpha():
    print("string contains only alphabets")
else:
    print("No")

string contains only alphabets

##### 40. Convert a string to a list of characters.

In [43]:
str_40 = input()
list_str_40 = list(str_40)

print(f"string to a list of characters: {list_str_40}")

string to a list of characters: ['p', 'y', 't', 'h', 'o', 'n']

##### 41. Check if two strings are anagrams.

In [44]:
str1 = "silent"
str2 = "listen"

if sorted(str1) == sorted(str2):
    print("Strings are anagrams")
else:
    print("strings are not anagrams")

Strings are anagrams

##### 42. Encode a string using a Caesar cipher

In [45]:
str_42 = 'Caesarcipher'
s = 3
encode_str = ''
for i in str_42:
    if i.isupper():
        encode_str += chr((ord(i)+s - 65) % 26 + 65)
    else:
        encode_str += chr((ord(i)+s - 97) % 26 + 97)

print(f"encoded string: {encode_str}")

encoded string: Fdhvduflskhu

##### 43. Decode a Caesar cipher encoded string.

In [46]:
str_43 = 'Fdhvduflskhu'
s = 3
decode_str = ''
for i in str_43:
    if i.isupper():
        decode_str += chr((ord(i)-s - 65) % 26 + 65)
    else:
        decode_str += chr((ord(i)-s - 97) % 26 + 97)

print(f"decoded string: {decode_str}")

decoded string: Caesarcipher

##### 44. Find the most frequent word in a string.

In [47]:
str_45 = "python is simple and python is easy also python is most used language"
list_str_45 = str_45.split()

max_count = 0
most_frequent = None
for word in list_str_45:
    if list_str_45.count(word) > max_count:
        max_count = list_str_45.count(word)
        most_frequent = word

print(f"most frequent word: {most_frequent}")

most frequent word: python

##### 45. Find all unique words in a string.

In [49]:
str_46 = "python is simple and python is easy also python is most used language"
list_str_46 = str_46.split()

res = []
for i in list_str_46:
    if i not in res:
        res.append(i)

print(f"unique words: {res}")

unique words: ['python', 'is', 'simple', 'and', 'easy', 'also', 'most', 'used', 'language']

##### 46. Count the number of syllables in a string.

In [25]:
import re

str46 = 'happy'

str46 = str46.lower()
res = re.findall(r'[aeiouy]+', str46)
print(f"Number of syllables: {len(res)}")

Number of syllables: 2

##### 47. Check if a string contains any special characters.

In [26]:
str_47 = 'pr@sad'

if str_47.isalnum():
    print("string not contain any special characters")
else:
    print("yes string contain special characters")

yes string contain special characters

##### 48. Remove the nth word from a string.

In [37]:
# 48

str_48 = 'Welcome to python class'
n = int(input("Enter position to insert"))

list_str_48 = str_48.split()
if n < len(list_str_48):
    list_str_48.pop(n)
else:
    print("Enter n value less than total number of words")

print(f"string after remove word: {' '.join(list_str_48)}")

string after insert word: to python class

##### 49. Insert a word at the nth position in a string.

In [38]:
str_49 = 'Welcome to python class'
n = int(input("Enter position to insert"))
word = input("Enter word to insert")

list_str_49 = str_49.split()
if n < len(list_str_49):
    list_str_49.insert(n, word)
else:
    print("Enter n value less than total number of words")

print(f"string after insert word: {' '.join(list_str_49)}")

string after insert word: Good Morning Welcome to python class

##### 50. Convert a CSV string to a list of lists.

In [50]:
str_50 = '''Prasad,masters,30,nellore,A
Naveen,btech,39,Kurnool,B
Akash,school,34,Hyderbad,A'''

ls = []
for i in str_50.split('\n'):
    i=i.split(',')
    ls.append(i)

print(f"CSV string to a list of lists: {ls}")

CSV string to a list of lists: [['Prasad', 'masters', '30', 'nellore', 'A'], ['Naveen', 'btech', '39', 'Kurnool', 'B'], ['Akash', 'school', '34', 'Hyderbad', 'A']]

### List Practice Problems

##### 1. Create a list with integers from 1 to 10.

In [54]:
list1 = list(range(10))
print(f"list of elements {list1}")

list of elements [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

##### 2. Find the length of a list without using the `len()` function.

In [55]:
list2 = [1,2,3,4,5,6,7,8,9,0]
length = 0
for i in list2:
    length += 1
    print(f"length of the list is: {length}")

length of the list is: 1
length of the list is: 2
length of the list is: 3
length of the list is: 4
length of the list is: 5
length of the list is: 6
length of the list is: 7
length of the list is: 8
length of the list is: 9
length of the list is: 10

##### 3. Append an element to the end of a list.

In [56]:
list1.append(10)
print(f"list after append {list1}")

list after append [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

##### 4. Insert an element at a specific index in a list.

In [57]:
list1.insert(4, 'Prasad')
print(f"list after insert {list1}")

list after insert [0, 1, 2, 3, 'Prasad', 4, 5, 6, 7, 8, 9, 10]

##### 5. Remove an element from a list by its value.

In [58]:
list1.remove(10)
print(f"list after remove {list1}")

list after remove [0, 1, 2, 3, 'Prasad', 4, 5, 6, 7, 8, 9]

##### 6. Remove an element from a list by its index.

In [59]:
list1.pop(4)
print(f"list after pop {list1}")

list after pop [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

##### 7. Check if an element exists in a list.

In [61]:
element = int(input())
if element in list1:
    print("Element exists in a list")
else:
    print("element not existed")

Element exists in a list

##### 8. Find the index of the first occurrence of an element in a list.

In [62]:
list2 = [22,2,53,643,22,53, 22,2,643]
print(f"Element at index 2 is: {list2.index(2)}")

Element at index 2 is: 1

##### 9. Count the occurrences of an element in a list.

In [63]:
print(f"count of 2 is: {list2.count(2)}")

count of 2 is: 2

##### 10. Reverse the order of elements in a list.

In [64]:
list3 = ['1','python', 'hello', '34', 'cool']
list3.reverse()

print(f"reverse of list: {list3}")

reverse of list: ['cool', '34', 'hello', 'python', '1']

##### 11. Sort a list in ascending order.

In [65]:
list3.sort()
print(f"sorted list {list3}")

sorted list ['1', '34', 'cool', 'hello', 'python']

##### 12. Sort a list in descending order.

In [66]:
list3.sort(reverse=True)
print(f"sorted list in descending order {list3}")

sorted list in descending order ['python', 'hello', 'cool', '34', '1']

##### 13. Create a list of even numbers from 1 to 20.

In [67]:
list4 = list(range(0,20,2))
print(f"list of even numbers {list4}")

list of even numbers [0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

##### 14. Create a list of odd numbers from 1 to 20.

In [68]:
list5 = list(range(1, 20,2))
print("list of odd numbers" ,list5)

list of odd numbers [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

##### 15. Find the sum of all elements in a list.

In [69]:
print(f"sum of elements: {sum(list4)}")

sum of elements: 90

##### 16. Find the maximum value in a list.

In [70]:
print(f"max of list: {max(list5)}")

max of list: 19

##### 17. Find the minimum value in a list.

In [71]:
print(f"min of list: {min(list3)}")

min of list: 1

##### 18. Create a list of squares of numbers from 1 to 10.

In [72]:
list6 = [i**2 for i in range(1, 11)]
print(f"list of squares :{list6}")

list of squares :[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

##### 19. Create a list of random numbers.

In [73]:
list7 = [10, 42.5, True, 'cat', 'Dog', True, False, 'cat', 10, 'Nature', 100.0, 100, 'Dog']
print(list7)

[10, 42.5, True, 'cat', 'Dog', True, False, 'cat', 10, 'Nature', 100.0, 100, 'Dog']

##### 20. Remove duplicates from a list.

In [74]:
list8 = set(list7)
unique_list8 = list(list8)

print(f"list without duplicates: {unique_list8}")

list without duplicates: [False, True, 100.0, 'Dog', 10, 42.5, 'Nature', 'cat']

##### 21. Find the common elements between two lists.

In [75]:
list9 = [10, 20, 30, 40, 50]
list10 = [5, 50, 500, 5000, 50000]

common = [e for e in list9 if e in list10]
print(f"common elements: {common}")

common elements: [50]

##### 22. Find the difference between two lists.

In [76]:
print(f"difference between two lists: {list(set(list9).difference(list10))}")

difference between two lists: [20, 40, 10, 30]

##### 23. Merge two lists.

In [77]:
list9.extend(list10)
print(f"merge of two lists: {list9}")

merge of two lists: [10, 20, 30, 40, 50, 5, 50, 500, 5000, 50000]

##### 24. Multiply all elements in a list by 2.

In [78]:
list_24 = [e*2 for e in list9]
print(f"list multiply by 2: {list_24}")

list multiply by 2: [20, 40, 60, 80, 100, 10, 100, 1000, 10000, 100000]

##### 25. Filter out all even numbers from a list.

In [79]:
list11 = [0, 15, 20, 50, 62]
list_11a = [e for e in list11 if e%2==0]
print(f"filter all even numbers: {list_11a}")

filter all even numbers: [0, 20, 50, 62]

##### 26. Convert a list of strings to a list of integers.

In [80]:
list12 = ['1', '2', '3', '4', '5']
for i in range(len(list12)):
    list12[i] = int(list12[i])

print(f"list of strings to a list of integers: {list12}")

list of strings to a list of integers: [1, 2, 3, 4, 5]

##### 27. Convert a list of integers to a list of strings.

In [81]:
list13 = [1, 2, 3, 4, 5]
for i in range(len(list13)):
    list13[i] = str(list13[i])

print(f"list of integers to a list of strings:{list13}")

list of integers to a list of strings:['1', '2', '3', '4', '5']

##### 28. Flatten a nested list.

In [82]:
list14 = [[1,3,5], ['Maths', 'slice']]
list14_a = [i for row in list14 for i in row ]
print(f"nested lis: {list14_a}")

nested lis: [1, 3, 5, 'Maths', 'slice']

##### 29. Create a list of the first 10 Fibonacci numbers.

In [26]:
len_fib = int(input())
l = [0,1]
for i in range(2,len_fib):
    l.append(l[i-1] + l[i-2])

print(f"first 10 fibnacci numbers: {l}")

first 10 fibnacci numbers: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

##### 30. Check if a list is sorted.

In [84]:
list15 = [4,6,1,63,0, 535]
list15 == sorted(list15)

print(f"sorted list: {list15}")

sorted list: [4, 6, 1, 63, 0, 535]

##### 31. Rotate a list to the left by `n` positions.

In [85]:
n = int(input())

list16 = [1,2,3,4,5,6,7,8,9]
list16[n:]+list16[:n]

[4, 5, 6, 7, 8, 9, 1, 2, 3]

##### 32. Rotate a list to the right by `n` positions.

In [87]:
list16 = [1,2,3,4,5,6,7,8,9]
list16[-n:]+list16[:-n]

[7, 8, 9, 1, 2, 3, 4, 5, 6]

##### 33. Create a list of prime numbers up to 50.

In [55]:
n = 50
for i in range(50):
    prime = True
    for j in range(2, i):
        if i%j == 0:
            prime=False
    if prime:
        print(i)

0
1
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

##### 34. Split a list into chunks of size `n`.

In [90]:
n = 3
list17 = [1, 23, 43, 53, 2, 3, 52, 63, 563, 6, 3232, 5, 25, 4, 636]
l = len(list17)
chunk_size = l // n

lis = []
for i in range(0, len(list17), n):
    lis.append(list17[:n])

print(lis)

[[1, 23, 43], [1, 23, 43], [1, 23, 43], [1, 23, 43], [1, 23, 43]]

##### 35. Find the second largest number in a list.

In [92]:
list_35 = [60, 30, 15, 80, 67]
sorted_list = sorted(set(list_35))
print(f"Second largest number: {sorted_list[-2]}")

Second largest number:67

##### 36. Replace every element in a list with its square.

In [93]:
list36 = [2,4,6,8,0]

for i in range(len(list36)):
    list36[i] = list36[i]**2

print(f"square of elements: {list36}")

square of elements: [4, 16, 36, 64, 0]

##### 37. Convert a list to a dictionary where list elements become keys and their indices become values.

In [97]:
list37 = ['yes', 'no', 'pass', 'fail']
d = {}
for i in range(len(list37)):
    d[list37[i]] = i

print(f"list to dict: {d}")

list to dict: {'yes': 0, 'no': 1, 'pass': 2, 'fail': 3}

##### 38. Shuffle the elements of a list randomly.

In [100]:
list38 = [2, 4,6,8,0]

import random

random.shuffle(list38)

print(f"shuffle of elements: {list38}")

shuffle of elements: [0, 8, 4, 6, 2]

##### 39. Create a list of the first 10 factorial numbers.

In [28]:
l = []
for i in range(1, 11):
    s = 1
    for j in range(1, i):
        s *=j
    l.append(s)

        
l

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

##### 40. Check if two lists have at least one element in common.

In [133]:
list40_a = [10, 100, 500, 800]
list40_b = [5, 10, 15, 20]

common = False
for i in list40_a:
    if i in list40_b:
        common = True
        break
if common:
    print(f"yes elements are common")
else:
    print(f"No elements common")

yes elements are common

##### 41. Remove all elements from a list.

In [128]:
list41 = [1,3,4,6,89,0]
print(f"clear all elements: {list41.clear()}")

clear all elements: None

##### 42. Replace negative numbers in a list with 0.

In [127]:
list42 = [-10, 4, -1, 6, -6, 0, 4]

for i in range(len(list42)):
    if list42[i] < 0:
        list42[i] = 0

print(f"list after replace negarive numbers: {list42}")

list after replace negarive numbers: [0, 4, 0, 6, 0, 0, 4]

##### 43. Convert a string into a list of words.

In [122]:
str43 = 'Python is east to understand and write'
ls = str43.split()

print(f"string to list: {ls}")

string to list: ['Python', 'is', 'east', 'to', 'understand', 'and', 'write']

##### 44. Convert a list of words into a string.

In [31]:
list44 = ['Ramu', 'is', 'boy']

res = ' '.join(list44)

print(f"list of words into a string: {res}")

list of words into a string: Ramu is boy

##### 45. Create a list of the first `n` powers of 2.

In [115]:
n = int(input("Enter n value:"))
ls = []
for i in range(1, n+1):
    ls.append(i**2)

print(f"lis tiwth first n powers of 2: {ls}")

lis tiwth first n powers of 2: [1, 4, 9, 16, 25, 36, 49, 64]

##### 46. Find the longest string in a list of strings.

In [114]:
list46 = ['python', 'c', 'c++', 'Java']

max_len = len(list46[0])
long_str= list46[0]
for i in list46:
    if len(i) > max_len:
        max_len = len(i)
        long_str = i

print(f"shortest string: {long_str}")

shortest string: python

##### 47. Find the shortest string in a list of strings.

In [113]:
list47 = ['python', 'c', 'c++', 'Java']

min_len = len(list47[0])
short_str= list47[0]
for i in list47:
    if len(i) < min_len:
        min_len = len(i)
        short_str = i

print(f"shortest string: {short_str}")

shortest string: c

##### 48. Create a list of the first `n` triangular numbers.

In [109]:
n = int(input("Enter n value:"))

triangular = []
res = 0
for i in range(1, n+1):
    res += i
    triangular.append(res)

print(triangular)

[1, 3, 6, 10, 15, 21]

##### 49. Check if a list contains another list as a subsequence.

In [36]:
list49 = [1,2,3,4,5,6,7,8]
list49a = [2,3,4]

ind = 0
issequence = False
for e in list49:
    if e == list49a[ind]:
        ind += 1
        if len(list49a) == ind:
            issequence = True
            break
        
if issequence:
    print("Yes, its a subsequences")
else:
    print("No, not subsequence")

Yes, its a subsequences

##### 50. Swap two elements in a list by their indices.

In [106]:
list50 = [1,2,3,4,5,6,7,8,9,0]

first = int(input("Enter first index:"))
second = int(input("Enter second index:"))

if first < len(list50) and second < len(list50):
    list50[first], list50[second] = list50[second], list50[first]

print(f"list after swap: {list50}")

list after swap: [1, 2, 6, 4, 5, 3, 7, 8, 9, 0]

### tuple practice problems

##### 1. Create a tuple withe integers from 1 to 5

In [3]:
# () - used to create tuple
tuple_1 = (1,2,3,4,5)
print(f"tuple:{tuple_1}")

tuple:(1, 2, 3, 4, 5)

##### 2. Access the thid element of a tuple.

In [4]:
# 3rd element is in the index of 2
print("Value at index 2 is:", tuple_1[2])

Value at index 2 is: 3

##### 3. Find the length of a tuple without using the  `len()` function

In [8]:
tuple_2 = (4,52,623,62,23,626,2352,664)

# intialize length as zero
tuple_len = 0

# loop to iterate elements
for value in tuple_2:
    # increase the length for each value
    tuple_len += 1
print("Lenght of the tuple is",tuple_len)

Lenght of the tuple is 8

##### 4. Count the occurences of an element in a tuple

In [5]:
tuple_4 = (3,3,3,10,10,30, 40, 50, 60)

# count() - method used to find the occurence of the elements
print("Occurence of particular element:",tuple_4.count(3))

Occurence of particular element: 3

##### 5. Find the index of the first occurence of an element in a tuple

In [17]:
tuple_5 = (3,3,3,10,10,30, 40, 50, 60)

# index() - method is used to find the index of the specific element
print("Index of the element 30 is:", tuple_5.index(30))

Index of the element 30 is: 5

##### 6. Check if an element exists in a tuple

In [19]:
tuple_6 = (3,3,3,10,10,30, 40, 50, 60)
element = int(input("Enter element to check in tuple"))

if element in tuple_6:
    print(f"the element {element} is existed in tuple")
else:
    print("Not existed")

the element 10 is existed in tuple

##### 7. Convert a tuple to a list

In [6]:
tuple_7 = (3,3,3,10,10,30, 40, 50, 60)

# list() - function is used to convert into list
tuple_to_list = list(tuple_7)
print(f"List of element after conversion {tuple_to_list}")

List of element after conversion [3, 3, 3, 10, 10, 30, 40, 50, 60]

##### 8. Convert a list to a tuple

In [24]:
list_1 = [3,63,26,2,62,62,26,2262]

list_to_tuple = tuple(list_1)

print("tuple after conversion:", list_to_tuple)

tuple after conversion: (3, 63, 26, 2, 62, 62, 26, 2262)

##### 9. Unpack the elements of a tuple into variables

In [10]:
tuple_9 = (100, 200, 500, 1000, 900, 800)

var1, var2, var3, *var4 = tuple_9
print(f"var1:{var1}, var2:{var2}, var3:{var3}, var4:{var4}")

var1:100, var2:200, var3:500, var4:[1000, 900, 800]

##### 10. Create a tuple of even numbers from 1 to 10

In [14]:
tuple_even = tuple((x for x in range(11) if x %2 == 0))
print(f"Even number: {tuple_even}")

Even number: (0, 2, 4, 6, 8, 10)

##### 11. Create a tuple of odd numbers from 1 to 10.

In [17]:
tuple_odd = tuple([x for x in range(11) if x%2!=0])
print(f"odd numbers : {tuple_odd}")

odd numbers : (1, 3, 5, 7, 9)

##### 12. Concatenate two tuples.

In [20]:
t1 = (1,4)
t2 = (14,52)

t = t1+t2
print(f"Concat of 2 tuples {t}")

Concat of 2 tuples (1, 4, 14, 52)

##### 13. Repeat a tuple three times.

In [86]:
tuple_13 = (1,2,3)
tuple_n_times = tuple_13*3
print(f"3 times of tuple: {tuple_n_times}")

3 times of tuple: (1, 2, 3, 1, 2, 3, 1, 2, 3)

##### 14. Check if a tuple is empty.

In [25]:
tuple_14 = tuple()
if not tuple_14:
    print("tuple is empty")
else:
    print("tuple is not empty")

tuple is empty

##### 15. Create a nested tuple.

In [36]:
# nested tuple
tuple_15 = (('Yes', 'No'), ('c', 'c++', 'Python'), (1,2,3,4))
print(f"nested tuple: {tuple_15}")

nested tuple: (('Yes', 'No'), ('c', 'c++', 'Python'), (1, 2, 3, 4))

##### 16. Access the first element of a nested tuple.

In [38]:
print(f"first element of the nested tuple: {tuple_15[0]} ")

first element of the nested tuple: ('Yes', 'No')

##### 17. Create a tuple with a single element.

In [46]:
tuple_17 = (1,) # place , after the elements then only it is tuple otherwise its umber
print(f"type of the above is: {type(tuple_17)}")

type of the above is: <class 'tuple'>

##### 18. Compare two tuples.

In [38]:
tuple_a = (1, 10, 15)
tuple_b = (10, 15, 1)

equality = tuple_a == tuple_b
not_equality = tuple_a != tuple_b
greatear_than = tuple_a > tuple_b
less_than = tuple_a < tuple_b
less_equal = tuple_a <= tuple_b
greater_equal = tuple_a >= tuple_b

print(f"tuple_A == tuple_b: {equality}")
print(f"tuple_A != tuple_b: {not_equality}")
print(f"tuple_A > tuple_b: {greatear_than}")
print(f"tuple_A < tuple_b: {less_than}")
print(f"tuple_A <= tuple_b: {less_equal}")
print(f"tuple_A >= tuple_b: {greater_equal}")

tuple_A == tuple_b: False
tuple_A != tuple_b: True
tuple_A > tuple_b: False
tuple_A < tuple_b: True
tuple_A <= tuple_b: True
tuple_A >= tuple_b: False

##### 19. Delete a tuple.

In [51]:
# deleting single is not possible, tuple is immutable
# del() - used to delete entire tuple
tuple_19 = ("Delete", 'tuple')
del(tuple_19)
#print(f"After deletion {tuple_19}")

##### 20. Slice a tuple.

In [55]:
tuple_20 = (1,2,('True', 'False'), 'Dog', 'Cat')
tuple_20[:3]        # silicing used to select the few elements in the tuple

(1, 2, ('True', 'False'))

##### 21. Find the maximum value in a tuple.

In [57]:
tuple_21 = (10, 80, 20, 40, 100, 900)
print(f"max of tuple_21 is: {max(tuple_21)}")

max of tuple_21 is: 900

##### 22. Find the minimum value in a tuple.

In [58]:
print(f"min of tuple_21 is: {min(tuple_21)}")

min of tuple_21 is: 10

##### 23. Convert a string to a tuple of characters.

In [60]:
str_t = "This is string"
tuple_s = tuple(str_t)

print(f"tuple of characters:{tuple_s}")

tuple of characters:('T', 'h', 'i', 's', ' ', 'i', 's', ' ', 'S', 't', 'r', 'i', 'n', 'g')

##### 24. Convert a tuple of characters to a string.

In [83]:
tuple_c = ('p','y','t','h','o','n')
str_tuple = str(tuple_c)
s= ''.join(tuple_c)
print(f"string of tuple: {s}")

string of tuple: python

##### 25. Create a tuple from multiple data types.

In [100]:
tuple_25 = (1,2,10.52, 63.67, True, False, 5+9j, 'string')
print(f"tuple of multiple data types: {tuple_25}")

tuple of multiple data types: (1, 2, 10.52, 63.67, True, False, (5+9j), 'string')

##### 26. Check if two tuples are identical.

In [101]:
tuple_a = (1,2,4)
tuple_b = (1,2,4)

if tuple_a == tuple_b:
    print(f"Both tuples are equal")
else:
    print(f"tuples are not equal")

Both tuples are equal

##### 27. Sort the elements of a tuple.

In [106]:
tuple_27 = (40, 10, 15, 50, 6, 2, 1)
print("sorted array:",tuple(sorted(tuple_27)))

sorted array:  (1, 2, 6, 10, 15, 40, 50)

##### 28. Convert a tuple of integers to a tuple of strings.

In [107]:
tuple_28 = (10, 20, 30, 40, 50)
list_i = []
for v in tuple_28:
    list_i.append(str(v))

tuple_i = tuple(list_i)

print(f"tuple of int - str : {tuple_i}")

tuple of int - str : ('10', '20', '30', '40', '50')

##### 29. Convert a tuple of strings to a tuple of integers.

In [108]:
tuple_29 = ('10', '20', '30', '40', '50')
list_s = []
for v in tuple_29:
    list_s.append(int(v))

tuple_s = tuple(list_s)

print(f"tuple of str - int : {tuple_s}")

tuple of str - int : (10, 20, 30, 40, 50)

##### 30. Merge two tuples.

In [39]:
tuple_a = (1,2,3)
tuple_b = (3,4,5)

list_30 = []
for t in [tuple_a, tuple_b]:
    list_30.extend(t)

print(f"Merge of two tuple: {tuple(list_30)}")

Merge of two tuple: (1, 2, 3, 3, 4, 5)

##### 31. Flatten a nested tuple.

In [116]:
tuple_31a = (1,2,3,4)
tuple_31b = (5,6,7,8)
list_31 = []
for a,b in zip(tuple_31a, tuple_31b):
    list_31.append(a)
    list_31.append(b)

tuple_31 = tuple(list_31)

print(f"flatten tuple: {tuple_31}")

flatten tuple: (1, 5, 2, 6, 3, 7, 4, 8)

##### 32. Create a tuple of the first 5 prime numbers.

In [49]:
# 32 
def is_prime(num):
    if num <=1:
        return False
    for i in range(2, int(num**0.5)+1):
        if num % i == 0:
            return False
    return True

p_nums = []
num = 0
while len(p_nums) < 5:
    if is_prime(num):
        p_nums.append(num)
    num += 1

print(f"tuple of first 5 prime numbers: {tuple(p_nums)}")

tuple of first 5 prime numbers: (2, 3, 5, 7, 11)

##### 33. Check if a tuple is a palindrome.

In [119]:
tuple_33 = ('1','2','2','1')

if tuple_33 == tuple_33[::-1]:
    print("palindrome")
else:
    print("Not palindrome")

palindrome

##### 34. Create a tuple of squares of numbers from 1 to 5.

In [125]:
list_35 = []
for i in range(1, 6):
    list_35.append(i**i)

tuple_35 = tuple(list_35)
print(f"tuple of squares: {tuple_35}")

tuple of squares: (1, 4, 27, 256, 3125)

##### 35. Filter out all even numbers from a tuple.

In [122]:
tuple_35 = (4,8,3,7,10, 11, 46)

def even(val):
    if val%2 == 0:
        return val

even_tuple = tuple(filter(even, tuple_35))
print(f"even numbers: {even_tuple} ")

even numbers: (4, 8, 10, 46)

##### 36. Multiply all elements in a tuple by 2.

In [1]:
tuple_36a = (5, 10, 15, 20, 25)
list_36 = []

for i in list(tuple_36a):
    list_36.append(i*2)

print(f"tuple elements multiply by 2: {tuple(list_36)}")

tuple elements multiply by 2: (10, 20, 30, 40, 50)

##### 37. Create a tuple of random numbers.

In [54]:
# 37 Random elements
import random

t = tuple(random.randint(1, 10) for _ in range(5))
print(f"random tuple: {t}")

random tuple: (7, 7, 2, 10, 7)

##### 38. Check if a tuple is sorted.

In [9]:
tuple_38 = (50, 10, 15, 5, 20, 100)
sorted(tuple_38)

if tuple_38 == tuple(sorted(tuple_38)):
    print(f"tuple is sorted")
else:
    print(f"tuple is not sorted")

tuple is not sorted

##### 39. Rotate a tuple to the left by `n` positions.

In [88]:
# 39
n = int(input("Enter n value:"))

tuple_39 = (10.1, 10.2, 10.0, 15.5, 5.5, 2.3)
tuple_39_final = tuple_39[n:]+tuple_39[:n]
tuple_39_final

(15.5, 5.5, 2.3, 10.1, 10.2, 10.0)

##### 40. Rotate a tuple to the right by `n` positions.

In [89]:
# 40
n = int(input("Enter n value:"))

tuple_40 = (10.1, 10.2, 10.0, 15.5, 5.5, 2.3)
tuple_40_final = tuple_40[-n:]+tuple_40[:-n]
tuple_40_final

(5.5, 2.3, 10.1, 10.2, 10.0, 15.5)

##### 41. Create a tuple of the first 5 Fibonacci numbers.

In [76]:
a, b = 0, 1
list_41 = []
for i in range(5):
    list_41.append(a)
    a, b = b, a+b

print(f"first 5 fibnacci numbers: {list_41}")

first 5 fibnacci numbers: [0, 1, 1, 2, 3]

##### 42. Create a tuple from user input.

In [73]:
tuple_42 = tuple(input("Enter values for tuple:"))
print(f"tuple from user input {tuple_42}")

tuple from user input ('G', 'o', 'o', 'd', ' ', 'b', 'o', 'y')

##### 43. Swap two elements in a tuple.

In [71]:
# 43 
# doubt what elements to swap

first_index = int(input("enter first index:"))
second_index = int(input("enter second index:"))

tuple_43 = ('P', '!', 10, 30, 15.52, 65)
list_43 = list(tuple_43)

if first_index < len(tuple_43) and second_index < len(tuple_43):
    list_43[first_index], list_43[second_index] = list_43[second_index], list_43[first_index]

swap_tuple = tuple(list_43)

print(f"tuple after swap elements {swap_tuple}")

tuple after swap elements ('P', '!', 30, 10, 15.52, 65)

##### 44. Reverse the elements of a tuple.

In [66]:
tuple_44 = ('key', 'value', 'tuple', 10, 5, 1)
print(f"reverse of tuple: {tuple_44[::-1]}")

reverse of tuple: (1, 5, 10, 'tuple', 'value', 'key')

('key', 'value', 'tuple', 10, 5, 1)

##### 45. Create a tuple of the first `n` powers of 2.

In [60]:
n = int(input("enter n value:"))
tuple_45 = tuple(i**2 for i in range(n))
print(f"first n powers of 2 is: {tuple_45}")

first n powers of 2 is: (0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576)

##### 46. Find the longest string in a tuple of strings.

In [77]:
tuple_46 = ('Python', 'cool', 'nice', 'happy', 'welcome', 'is')
max_len = len(tuple_47[0])
long_str = None
for i in tuple_47:
    if len(i) > max_len:
        max_len = len(i)
        long_str = i

print(f"longest string in tuple is :{long_str}")

longest string in tuple is :welcome

##### 47. Find the shortest string in a tuple of strings.

In [59]:
tuple_47 = ('Python', 'cool', 'nice', 'happy', 'welcome', 'is')
min_len = len(tuple_47[0])  # consider first string len as min
short_str = None
for i in tuple_47:          # iterate over the tuple
    if len(i) < min_len:    # compare the length for each string in tuple and update the longest string
        min_len = len(i)
        short_str = i

print(f"shortest string in tuple is: {short_str}")

shortest string in tuple is: is

##### 48. Create a tuple of the first `n` triangular numbers.

In [52]:
n = int(input("Enter the n value:"))
val = 0
list_48 = []
for i in range(1, n+1): # atleast 1 triangular

    val += i
    list_48.append(val)         
    
print(f"{n} triangular numbers: {tuple(list_48)}")

7 triangular numbers: (1, 3, 6, 10, 15, 21, 28)

##### 49. Check if a tuple contains another tuple as a subsequence.

In [45]:
tuple_49 = (1,2,7,3,4,5,6,7,7,8,9,0)
tuple_49b = (7,7,8,0)

i, j = 0, 0

while i < len(tuple_49) and j < len(tuple_49b):
    if tuple_49[i] == tuple_49b[j]:
        j+=1
    i+=1

if j == len(tuple_49b):
    print("tuple_49b is subsequence of tuple_49")
else:
    print("tuple_49b is not subsequence of tuple_49")

tuple_49b is subsequence of tuple_49

##### 50. Create a tuple of alternating 1s and 0s of length `n`.

In [23]:
#
n = int(input("Enter n value:"))

tuple_50 = tuple([0 if i%2==0 else 1 for i in range(n)])
print(f"tuple with alternating 0's and 1's: {tuple_50}")

tuple with alternating 0's and 1's: (0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

### Set Based Practice Problems

##### 1. Create a set with integers from 1 to 5

In [8]:
# {} - used to create a set
set1 = {1,2,3,4,5}

set1

{1, 2, 3, 4, 5}

##### 2. Add an element to a set.

In [9]:
# add() - method used to add the element
set1.add(6)
set1

{1, 2, 3, 4, 5, 6}

##### 3. Remove an element from a set.

In [10]:
# remove() - used to remove the element from set
set1.remove(4)
set1

{1, 2, 3, 5, 6}

##### 4. Check if an element exists in a set.

In [11]:
# take input from user
ele = int(input())

# check elements exists or not
if ele in set1:
    print(f"{ele} existed in the {set1}")
else:
    print(f"{ele} not existed in the {set1}")

3 existed in the {1, 2, 3, 5, 6}

##### 5. Find the length of a set without using the `len()` function.

In [56]:
#### 5. Find the length of a set without using the `len()` function.
set5 = {1,2,3,4,5}
count = 0
for _ in set5:
    count += 1

print(f"length of set: {count}")

length of set: 5

##### 6. Clear all elements from a set.

In [13]:
# clear() - used to remove all the elements from the set
set1.clear()
set1

set()

##### 7. Create a set of even numbers from 1 to 10.

In [16]:
list_elements = [i for i in range(1, 11) if i%2==0]
set2 = set(list_elements)
set2

{2, 4, 6, 8, 10}

##### 8. Create a set of odd numbers from 1 to 10.

In [17]:
list_elements = [i for i in range(1, 11) if i%2!=0]
set3 = set(list_elements)
set3

{1, 3, 5, 7, 9}

##### 9. Find the union of two sets.

In [18]:
# union() - used to perform the union operation
set2.union(set3)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

##### 10. Find the intersection of two sets.

In [19]:
# intersection() - method used to perform intersection operation on sets
set2.intersection(set3)

set()

##### 11. Find the difference between two sets.

In [21]:
# difference() - method used to find the difference between 2 sets

set3.difference(set2)

{1, 3, 5, 7, 9}

##### 12. Check if a set is a subset of another set.

In [32]:
# issubset() - method used to check whether one set is subset of another set
set4 = {10,20,30,40,50,607,70,80,90}
set5 = {10,20,30,40}

set4.issuperset(set5)

True

##### 13. Check if a set is a superset of another set.

In [67]:
# issuperset() - method to check if one set is superset of other set
set4 = {10,20,30,40,50,607,70,80,90}
set5 = {10,20,30,40}

set5.issuperset(set4)

False

##### 14. Create a set from a list.

In [34]:
# set() - method used to convert any data structure into set
list_elements = [11,121,11, 100, 151, 4612, 100]

set_elements = set(list_elements)
set_elements

{11, 100, 121, 151, 4612}

##### 15. Convert a set to a list.

In [61]:
# list() - method used to convert any data structure to list
set_of_elements = {5, 'five', '10', 10, 'numbers', 'sets'}
list_of_elements = list(set_of_elements)

list_of_elements

['sets', 5, 10, 'numbers', '10', 'five']

##### 16. Remove a random element from a set.

In [62]:
# pop() - used to remove and return element

set_of_elements.pop()

'sets'

##### 17. Pop an element from a set.

In [63]:
# pop() - method used to remove the first element from the set and returns element
set_of_elements.pop()

5

##### 18. Check if two sets have no elements in common.

In [72]:
# isdisjoint() - method used to check if any common elements in two sets

set6 = {10, 30, 50}
set7 = {100, 300, 500}
if set6.isdisjoint(set7):
    print(f"Yes, sets have common elements")
else:
    print(f"No, Set doesnt have any common elements")

Yes, sets have common elements

##### 19. Find the symmetric difference between two sets.

In [74]:
# symmetric_difference() - method used to find the elements which not common in both
set8 = {10, 20, 30, 40}
set9 = {30, 40, 50, 60}

symmetric_diff = set8.symmetric_difference(set9)

print(f"Symmetric difference {symmetric_diff}")

Symmetric difference {10, 50, 20, 60}

##### 20. Update a set with elements from another set.

In [75]:
# update() - method used to update the set

set10 = {'C', 'C++', 'Java', 'HTML'}
set10.update({'CSS', 'JS', 'Python', 'Kotlin', 'GoLang'})

set10

{'C', 'C++', 'CSS', 'GoLang', 'HTML', 'JS', 'Java', 'Kotlin', 'Python'}

##### 21. Create a set of the first 5 prime numbers.

In [58]:
# 21 question
def is_prime(num):
    if num <=1:
        return False
    for i in range(2, int(num**0.5)+1):
        if num % i == 0:
            return False
    
    return True

p_num = set()
num = 0
while len(p_num) < 5:
    if is_prime(num):
        p_num.add(num)
    num += 1

p_num

{2, 3, 5, 7, 11}

##### 22. Check if two sets are identical.

In [79]:
set11 = {'Nice', 'Cool', 'Happy', 20, 52}
set12 = {20, 'Nice', 52, 'Cool', 'Happy'}

if set11 == set12:
    print(f"set11 and set12 are identical")
else:
    print(f"set11 and set12 are not identical")

set11 and set12 are identical

##### 23. Create a frozen set.

In [81]:
# frozenset() - function used to create frozenset
frozen_set = frozenset(['Cat', 'Dog', 1, 2, 3])
frozen_set

frozenset({1, 2, 3, 'Cat', 'Dog'})

##### 24. Check if a set is disjoint with another set.

In [85]:
set13 = {1,2,3,4}
set14 = {10, 50, 100, 300}

if set13.isdisjoint(set14):
    print(f"sets are disjoint")
else:
    print(f"sets are not disjoint")

sets are disjoint

##### 25. Create a set of squares of numbers from 1 to 5.

In [87]:
set_of_sqaures = {x**x for x in range(1, 6)}
set_of_sqaures

{1, 4, 27, 256, 3125}

##### 26. Filter out all even numbers from a set.

In [88]:
filter_even = {i for i in set_of_sqaures if i % 2 == 0}
filter_even

{4, 256}

##### 27. Multiply all elements in a set by 2.

In [90]:
set_multiply = {x*2 for x in set_of_sqaures}
set_multiply

{2, 8, 54, 512, 6250}

##### 28. Create a set of random numbers.

In [61]:
import random

random_set = {random.randint(10, 50) for _ in range(15)}

print(f"random set: {random_set}")

random set: {32, 44, 12, 46, 15, 17, 21, 24, 27, 30}

##### 29. Check if a set is empty.

In [108]:
set15= set()  # Create an empty set

if len(set15) == 0:
    print("The set is empty.")
else:
    print("The set is not empty.")

The set is empty.

##### 30. Create a nested set (hint: use frozenset).

In [111]:
set16 = {1,2,3,4, frozenset(['Coke', 'Pepsi', 'Thumsup'])}
set16

{1, 2, 3, 4, frozenset({'Coke', 'Pepsi', 'Thumsup'})}

##### 31. Remove an element from a set using the discard method.

In [114]:
# discard() - method used to remove elememnt

set17 = {'Keyboard', 'Mouse', 'PC', 'Processor', 2009, 2010, 2015}
set17.discard('Keyboard')
set17

{2009, 2010, 2015, 'Mouse', 'PC', 'Processor'}

##### 32. Compare two sets.

In [64]:
# compare
set18 = {1,2}
set19 = {3}

print(f"set19==set18: {set19 == set18}")
print(f"set191=set18: {set19 != set18}")
print(f"set19<=set18: {set19 <= set18}")
print(f"set19>=set18: {set19 >= set18}")
print(f"set19>set18: {set19 > set18}")
print(f"set19<set18: {set19 < set18}")

set19==set18: False
set191=set18: True
set19<=set18: False
set19>=set18: False
set19>set18: False
set19<set18: False

##### 33. Create a set from a string.

In [115]:
str20 = "Welcome to python notebook"
set(str20)

{' ', 'W', 'b', 'c', 'e', 'h', 'k', 'l', 'm', 'n', 'o', 'p', 't', 'y'}

##### 34. Convert a set of strings to a set of integers.

In [122]:
set_str = {'1', '2', '3', '4', '5'}
print(f"set of string {set_str}")
set_int = set()

for i in set_str:
    set_int.add(int(i))

print(f"set of integers {set_int}")

set of string {'4', '2', '1', '3', '5'}
set of integers {1, 2, 3, 4, 5}

##### 35. Convert a set of integers to a set of strings.

In [124]:
set_int = {1,2,3,4,5}
print(f"set of integers {set_int}")
set_str = set()

for i in set_int:
    set_str.add(str(i))

print(f"set of integers {set_str}")

set of integers {1, 2, 3, 4, 5}
set of integers {'4', '2', '1', '3', '5'}

##### 36. Create a set from a tuple.

In [125]:
tu = (1,5,10, 15, 'two', 'one')
set_tuple = set(tu)
print(f"set from tuple is {set_tuple}")

set from tuple is {1, 'one', 5, 10, 15, 'two'}

##### 37. Convert a set to a tuple.

In [126]:
set_ele = {1,2,3,4,'5','6', '7'}
print(f"tuple from set {tuple(set_ele)}")

tuple from set (1, 2, 3, 4, '7', '6', '5')

##### 38. Find the maximum value in a set.

In [127]:
# max() used to get the maximum value
set21 = {50, 10,100, 200, 500, 1000, 2000}
max(set21)

2000

##### 39. Find the minimum value in a set.

In [128]:
# min() - used to get the minimum value
min(set21)

10

##### 40. Create a set from user input.

In [131]:
input_set = set(input())
print(f"set of input is {input_set}")

set of input is {'y', 'p', 'H', 'a'}

##### 41. Check if the intersection of two sets is empty.

In [133]:
set22 = {10, 20, 30}
set23 = {1000, 2000}

if set22.isdisjoint(set23):
    print(f"intesection is empty")
else:
    print(f"Intersection is not empty")

intesection is empty

##### 42. Create a set of the first 5 Fibonacci numbers.

In [219]:
# 
n = int(input("Enter n value"))
a, b = 0,1
s = set()
if n == 0:
    print(" N should be more than 0")
elif n == 1:
    s.add(0)
elif n == 2:
    s.add(0)
    s.add(1)
else:
    for i in range(n):
        s.add(a)
        a, b = b, a+b

s

{0, 1, 2, 3}

##### 43. Remove duplicates from a list using sets.

In [138]:
with_duplicates = [1,2,3,5,6,8,1,2,3,4]

set_l = set(with_duplicates) # set remove duplicates
without_duplicates = list(set_l)
print(f"List of elements after removing dupicate {without_duplicates}")

List of elements after removing dupicate [1, 2, 3, 4, 5, 6, 8]

##### 44. Check if two sets have the same elements, regardless of their count.

In [140]:
##
set24 = {1,2,3}
set25 = {1,2}

if set24 == set25:
    print(f"both sets have same elements")
else:
    print(f"sets have different elements")

sets have different elements

##### 45. Create a set of the first `n` powers of 2.

In [144]:
n = int(input("Enter n value"))
powers_n = {2**i for i in range(n+1)}
print(f"n powers of 2 {powers_n}")

n powers of 2 {32, 1, 2, 64, 4, 128, 256, 512, 8, 1024, 16}

##### 46. Find the common elements between a set and a list.

In [146]:
list_l = [10, 20, 40, 50, 60]
set26 = {5, 10, 15, 20}

set_of_list = set(list_l)    # convert to set
print(f"common elements {set26.intersection(set(list_l))}")   # find the common elements

common elements {10, 20}

##### 47. Create a set of the first `n` triangular numbers.

In [172]:
n = int(input("Enter n value:"))    # take n value from user

set_triangular = set()              # create empty set to add elements
total = 0
for i in range(1,n+1):              # atleast 1 elements, so range 1, n+1
    total += i
    set_triangular.add(total)

print(f"set of {n} traiangular numbers {set_triangular}")

set of 6 traiangular numbers {1, 3, 6, 10, 15, 21}

##### 48. Check if a set contains another set as a subset.

In [176]:
set27 = {1,2,4}
set28 = {1,2,3,4,5,6,7,8,9,0}

if set27.issubset(set28):
    print(f"set27 is subset of set28.")
else:
    print("set is not subset")

set27 is subset of set28.

##### 49. Create a set of alternating 1s and 0s of length `n`.

In [186]:
n = int(input("Enter n value"))
alt_set = set()
for i in range(n):
    s = ''
    for j in range(i):
        if j % 2==0:
            s+='0'
        else:
            s+='1'
    if s:
        alt_set.add(s)

alt_set

{'0', '01', '010', '0101', '01010'}

##### 50. Merge multiple sets into one.

In [180]:
set1 = {1,2,3}
set2 = {4,5.6}
set3 = {7,8,9}
set4 = {0}

set1.update(set2, set3, set4)
set1
# alternative options - union and for with list of sets

{0, 1, 2, 3, 4, 5.6, 7, 8, 9}