# functions

1. Reusability code

In [1]:
def test():
    print("this is my first function")

In [2]:
test()

this is my first function

In [3]:
test()

this is my first function

In [4]:
def test1():
    print("test")

In [5]:
test1()

test

In [6]:
test() + 'pras'

this is my first function

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [8]:
type(test1())

test

NoneType

In [9]:
def test2():
    print(1+2)

In [10]:
test2() + 20

3

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

# return

In [11]:
def test3():
    return 1+3

In [12]:
test3()

4

In [13]:
test3() + 32

36

In [14]:
type(test3())

int

In [15]:
def test4():
    return 2, 'pras', True

In [17]:
test4()

(2, 'pras', True)

In [19]:
a, b, c = test4()

In [20]:
a

2

In [21]:
b

'pras'

In [22]:
c

True

In [23]:
type(test4())

tuple

In [24]:
def test5(x):
    return x

In [25]:
test5(5)

5

In [27]:
test5('pras')

'pras'

In [29]:
test5([234.63,36,8463])

[234.63, 36, 8463]

In [30]:
test5(6,8)

TypeError: test5() takes 1 positional argument but 2 were given

In [31]:
test5()

TypeError: test5() missing 1 required positional argument: 'x'

In [32]:
def test6(x,y):
    return x, y

In [33]:
test6('prs',[23,6363,363])

('prs', [23, 6363, 363])

In [35]:
def test7(a: int, b: int):
    return a, b

In [36]:
test7(2,2)

(2, 2)

In [37]:
test7(2223, 'pras')

(2223, 'pras')

In [2]:
def test8(x: int, y: int):
    return x/y

In [3]:
test8(10,5)

2.0

In [4]:
test8('pra', 'see')

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [6]:
def test9(c, d):
    """
    Description:
    This is a function which can take 2 inputs and reutn a addition or concatanation

    parameters:
    2 inputs are integer inputs

    return:
    function returns integer value

    """
    return c+d

In [7]:
help(test9)

Help on function test9 in module __main__:

test9(c, d)
    Description:
    This is a function which can take 2 inputs and reutn a addition or concatanation

    parameters:
    2 inputs are integer inputs

    return:
    function returns integer value

In [8]:
test9(12,63,73)

TypeError: test9() takes 2 positional arguments but 3 were given

In [11]:
# variable number of arguments

def test10(*args):
    return sum(args)

In [12]:
test10(1,3,46,6)

56

In [13]:
def test11(*pras):
    return pras

In [15]:
test11(12,5242,62352,52523)

(12, 5242, 62352, 52523)

In [16]:
# keyword arugument
# pass data in key and value pairs

def test12(**kargs):
    return kargs

In [20]:
test12(n ={1:'2', '2':2})

{'n': {1: '2', '2': 2}}

In [22]:
# default arguments

def test13(b, a=10, c=20):
    return a,b,c

In [23]:
test13(34, a = 45)

(45, 34, 20)

In [24]:
# lambda

m = lambda a, b: a+b

In [25]:
m(3,5)

8

In [27]:
test13

In [28]:
m

In [29]:
def check_even(n):
    if n%2 == 0:
        print("given number is an even number")
    else:
        print("number is not even number")

In [30]:
b = lambda n: "given number is an even number" if n%2 == 0 else "number is not even numnber"

In [31]:
b(5)

'number is not even numnber'

In [33]:
li = [643,346,26,337,2,74,3,37]
min_list = lambda li: min(li)

In [34]:
min_list(li)

2

In [35]:
div = lambda a, b: a/b

In [36]:
div(5,7)

0.7142857142857143

In [37]:
upper = lambda s: s.upper()

In [38]:
upper('Prasad')

'PRASAD'

In [42]:
l = [3,3,73,7,37,373,737,373]
def sum_odd(b):
    li = []
    for i in l:
        if i % 2 !=0:
            li.append(i)
    return sum(li)

In [43]:
sum_odd(l)

1606

In [44]:
# list comprehension

sum([i for i in l if i%2!=0])

1606

In [47]:
sum_of_lam = lambda b: sum([i for i in b if i%2!=0])

In [48]:
sum_of_lam([2,6,3,7,26,3])

13

In [51]:
# Recursion

def fact_numner(n):
    if n==0:
        return 1
    else: 
        return n*fact_numner(n-1)

In [52]:
fact_numner(5)

120

In [53]:
fact_n = lambda n: 1 if n ==0 else n*fact_numner(n-1)

In [54]:
fact_n(6)

720

In [60]:
# map, reduce and filter

l = [5,6,7,8,9,10]

l1 = []
for i in l:
    l1.append(i+2)

In [61]:
l1

[7, 8, 9, 10, 11, 12]

In [59]:
def add_list(l):
    
    l1 = []
    for i in l:
        l1.append(i+2)

    return l1

In [62]:
add_list(l)

[7, 8, 9, 10, 11, 12]

In [63]:
# lambda

v = lambda a: a+2

In [65]:
v(10)

12

In [67]:
# map(function, data)

list(map(lambda a: a+2, l))

[7, 8, 9, 10, 11, 12]

In [69]:
def test34(c):
    return c+100

In [70]:
list(map(test34, l))

[105, 106, 107, 108, 109, 110]

In [72]:
l = ['sufh', 'mke', 'pwskill']

In [73]:
l1 = []
for i in l:
    l1.append(len(i))

In [74]:
l1

[4, 3, 7]

In [75]:
def test35(l):
    l1 = []
    for i in l:
        l1.append(len(i))

    return l1

In [76]:
test35(l)

[4, 3, 7]

In [77]:
list(map(lambda c: len(c), l))

[4, 3, 7]

In [80]:
list(map(lambda c: c[::-1], l))

['hfus', 'ekm', 'llikswp']

In [83]:
# reduce

# syntax = reduce(function, iterable[, intial])

l = [2, 3,4, 6,6]

from functools import reduce

reduce(lambda a,b: a*b, l)

864

In [85]:
# min without any inbuilt function

reduce(lambda a, b: a if a<b else b, l)

2

In [86]:
# max without any inbuilt function

reduce(lambda a, b: a if a>b else b, l)

6

In [88]:
n = 4
fact = reduce(lambda a, b: a*b, range(1, n+1))

fact

24

In [89]:
# product of even numbers in list

reduce(lambda a,b: a*b, [i for i in l if i%2==0] )

288

In [91]:
# filter

# syntax - filter(function, data)

l = [4,6,8,2,8,3,83,52,73,7]

list(filter(lambda a: a%2 ==0, l))

[4, 6, 8, 2, 8, 52]

In [93]:
s = 'Pw Skills'

list(filter(lambda a: a.islower(), s))

['w', 'k', 'i', 'l', 'l', 's']

In [97]:
ll = ['pw', 'pwsl;;', 'sudh','krish']

list(filter(lambda a: len(a) <=4, ll))

['pw', 'sudh']

In [ ]:
# recursion
while loop
iterator, iterable, generator
zip
enumerate
decorator