In [1]:
s = 'prasd'
len(s)

5

In [2]:
def find_len(s):
    if s=="":
        return 0
    else:
        return 1+find_len(s[1:])

In [3]:
find_len('prasad')

6

In [4]:
def find_reverse(s):
    if s=="":
        return ""
    else:
        return find_reverse(s[1:])+s[0]

find_reverse('prasad')

'dasarp'

In [11]:
s = 'sfsgssdfgsfsfsfs'

def find_char_count(s, c):
    if s == "":
        return 0
    elif s[0] == c:
        return 1+find_char_count(s[1:], c)
    else:
        return find_char_count(s[1:], c)

In [15]:
find_char_count(s, 'f')

5

In [19]:
l = [3, 5,7]

def check_sort_list(l):
    if len(l)<=1:
        return True
    elif l[0] > l[1]:
        return False
    else:
        return check_sort_list(l[1:])

check_sort_list(l)

True

In [25]:
number = 5

def check_perfect_square(n, start=1):
    if n == start**2:
        return True
    elif n < start**2:
        return False
    else:
        return check_perfect_square(n, start+1)
    

check_perfect_square(number)

False

# iterators, iterables

l = [2,3,4,5,6]

a = 10

s = 'pras

iterables: extract the some data from original form. then it is iterables

iterators: if can't extract part of data from original form. Then it is iterator

In [26]:
iter(10)

TypeError: 'int' object is not iterable

In [27]:
iter([2,5,6])

In [30]:
s = iter('sdfs')

In [31]:
next(s)

's'

In [32]:
next(s)

'd'

In [33]:
next(s)

'f'

In [34]:
next(s)

's'

In [35]:
next(s)

StopIteration:

By default string/list is iterable, but we cannot extract data until it become iterator. we can convert iterable to iterator using iter() function

In [1]:
s2 = 'pwskills'

In [2]:
next(s2)

TypeError: 'str' object is not an iterator

In [7]:
s2 =iter(s2)

In [8]:
next(s2)

'p'

In [9]:
next(s2)

'w'

In [10]:

next(s2)

's'

In [11]:

next(s2)

'k'

In [12]:
next(s2)

'i'

In [13]:
next(s2)

'l'

In [14]:
next(s2)

'l'

In [15]:
next(s2)

's'

In [16]:
next(s2)

StopIteration:

In [17]:
iter((1,3,4,56))

In [18]:
iter({23,63,63})

In [19]:
iter(3242)

TypeError: 'int' object is not iterable

In [20]:
iter(True)

TypeError: 'bool' object is not iterable

In [21]:
iter([334, 46,73])

In [22]:
iter({'name':'prasad', 'age':25})

In [23]:
range(0, 5)

range(0, 5)

In [24]:
list(range(0, 5))

[0, 1, 2, 3, 4]

generator - generate the data one by one out of generator object by remebering what data generated previous

Example: range() is a generator

In [25]:
for i in range(0,5):
    print(i)

0
1
2
3
4

In [26]:
i = iter(range(0, 5))

In [27]:
next(i)

0

In [28]:
next(i)

1

In [29]:
next(i)

2

In [30]:
next(i)

3

In [31]:
next(i)

4

In [32]:
next(i)

StopIteration:

In [33]:
def count_fun(n):
    i = 1
    while i <=n:
        yield i
        i+=1

In [34]:
count_fun(9)

In [35]:
for i in count_fun(9):
    print(i)

1
2
3
4
5
6
7
8
9

In [36]:
# return - return data only once
# yield - generate the collection

In [38]:
def count_fun1(n):
    i = 1
    while i <=n:
        return i
        i+=1

In [39]:
count_fun1(6)

1

In [40]:
def count_fun2(n):
    i = 1
    while i <=n:
        i+=1
    return i

In [41]:
count_fun2(6)

7

In [43]:
def count_fun3(n):
    i = 1
    l = []
    while i <=n:
        l.append(i)
        i+=1

    return l

count_fun3(4)

[1, 2, 3, 4]

count_fun3(50000000000000000) # this is will run long to collect all the data as list to return

this is memory intensive operation

In [1]:
def count_fun(n):
    i = 1
    while i <=n:
        yield i
        i+=1

In [2]:
for i in count_fun(500):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500

In [14]:
def fib(n):
    a, b = 0, 1
    for _ in range(n):
        yield a
        a, b = b, a+b

In [15]:
fib(10)

In [16]:
for i in fib(10):
    print(i)

0
1
1
2
3
5
8
13
21
34

In [17]:
ls

16th_sept.ipynb  1st_sep_class.ipynb  24th_class.ipynb      data.txt
17th_sept.ipynb  23rd_sept.ipynb      8th_sept_class.ipynb

In [18]:
pwd

'/config/workspace/python/class_notebooks'

In [20]:
open('data.txt')

In [21]:
for i in open('data.txt'):
    print(i)

Elections to the Andhra State Legislative Assembly were held on 11 February 1955. 581 candidates contested for the 167 constituencies in the Assembly. There were 29 two-member constituencies and 138 single-member constituencies.[1] The members of the first assembly (1955–62) were allowed a seven-year term. That is to say in 1957, elections were conducted in the newly added region of Telangana alone and then in 1962 general elections were held for the state as a whole.[2]



Background

On 1 October 1953, a separate Andhra State, consisting of the Telugu-speaking areas of the composite Madras State, with 167 constituencies with 190 seats in the Assembly, was formed. On 1 November 1956, Andhra State was merged with Hyderabad State under States Reorganisation Act, 1956, to form a single state, Andhra Pradesh. The districts of Raichur, Gulbarga, and the Marathwada district were detached from the Hyderabad State while merging with Andhra State. Besides, the Siruguppa taluk, the Bellary taluk, the Hospet taluk, and a small area of the Mallapuram sub-taluk were transferred from Mysore State to Andhra Pradesh. The districts of Raichur and Gulbarga were transferred to the Mysore State, while the Marathwada district was transferred to the Bombay State.[3] This resulted in re-organization of assembly constituencies of Andhra Pradesh giving way to 85 constituencies with 105 seats in the assembly.



Results

Results by party



Parties and Coalitions	Popular vote	Seats

Vote	%	+/-	Contested	Won	+/-

Indian National Congress	33,94,109	39.35%		142	119

Krishikar Lok Party	6,25,827	7.26%		37	22

Communist Party of India	26,85,251	31.13%		169	15

Praja Socialist Party	4,81,666	5.58%		45	13

Praja Party	2,40,884	2.79%		12	5

Independents	11,88,887	13.78%		170	22

Source: Election Commission of India[4]

In [22]:
def read_file(file_name):
    with open('data.txt', 'r') as file:
        for i in file:
            yield i

In [23]:
read_file('data.txt')

In [24]:
for i in read_file('data.txt'):
    print(i)

Elections to the Andhra State Legislative Assembly were held on 11 February 1955. 581 candidates contested for the 167 constituencies in the Assembly. There were 29 two-member constituencies and 138 single-member constituencies.[1] The members of the first assembly (1955–62) were allowed a seven-year term. That is to say in 1957, elections were conducted in the newly added region of Telangana alone and then in 1962 general elections were held for the state as a whole.[2]



Background

On 1 October 1953, a separate Andhra State, consisting of the Telugu-speaking areas of the composite Madras State, with 167 constituencies with 190 seats in the Assembly, was formed. On 1 November 1956, Andhra State was merged with Hyderabad State under States Reorganisation Act, 1956, to form a single state, Andhra Pradesh. The districts of Raichur, Gulbarga, and the Marathwada district were detached from the Hyderabad State while merging with Andhra State. Besides, the Siruguppa taluk, the Bellary taluk, the Hospet taluk, and a small area of the Mallapuram sub-taluk were transferred from Mysore State to Andhra Pradesh. The districts of Raichur and Gulbarga were transferred to the Mysore State, while the Marathwada district was transferred to the Bombay State.[3] This resulted in re-organization of assembly constituencies of Andhra Pradesh giving way to 85 constituencies with 105 seats in the assembly.



Results

Results by party



Parties and Coalitions	Popular vote	Seats

Vote	%	+/-	Contested	Won	+/-

Indian National Congress	33,94,109	39.35%		142	119

Krishikar Lok Party	6,25,827	7.26%		37	22

Communist Party of India	26,85,251	31.13%		169	15

Praja Socialist Party	4,81,666	5.58%		45	13

Praja Party	2,40,884	2.79%		12	5

Independents	11,88,887	13.78%		170	22

Source: Election Commission of India[4]