# Exception Handling

In [1]:
a = 10
b = 6

In [2]:
a / b

1.6666666666666667

In [3]:
c = 5
d = 0

In [4]:
c / d

ZeroDivisionError: division by zero

In [6]:
x = int(input("Enter for a value a"))
y = int(input("Enter for a value b"))

In [7]:
x + y

10

In [8]:
x - y

10

In [9]:
x * y

0

In [10]:
x / y

ZeroDivisionError: division by zero

In [12]:
x / y
print("execute after error code")   # wont execute if error above code

ZeroDivisionError: division by zero

In [13]:
l = [4,5,6,7,8,9,0]
l1 = []

def even_parser(l):
    for i in l:
        if i % 2 ==0:
            l1.append(i)
    return l1

In [14]:
even_parser(l)

[4, 6, 8, 0]

In [16]:
even_parser(8)
print("print something")

TypeError: 'int' object is not iterable

In [18]:
try:
    a = int(input("Enter for a value a"))
    b = int(input("Enter for a value b"))
    c = a / b
    print(c)

SyntaxError: unexpected EOF while parsing (2869107983.py, line 6)

In [20]:
try:
    a = int(input("Enter for a value a"))
    b = int(input("Enter for a value b"))
    c = a / b
    print(c)
except:
    pass

1.75

In [22]:
try:
    a = int(input("Enter for a value a"))
    b = int(input("Enter for a value b"))
    c = a / b
    print(c)
except:
    pass

print("something")

something

In [23]:
l = [4,5,6,7,8,9,0]
l1 = []

def even_parser(l):
    try:
        for i in l:
            if i % 2 ==0:
                l1.append(i)
        return l1
    except:
        pass

In [24]:
even_parser(6)
print("hgfdrtyhm")

hgfdrtyhm

In [25]:
try: 
    c = 6/0
except Exception as e:
    print(e)

division by zero

In [26]:
try: 
    c = 6/0
except TypeError as t:
    print(e)
except ZeroDivisionError as z:
    print(z)

division by zero

In [29]:
try: 
    c = 'a'/0
except TypeError as t:
    print(e)
except ZeroDivisionError as z:
    print(z)

NameError: name 'e' is not defined

In [39]:
try: 
    a = int(input("Enter value"))
    b = int(input("Enter b"))
    c = a/b
except TypeError as t:
    print(e)
except ZeroDivisionError as z:
    print(z)
except ValueError as v:
    print(v)
except NameError as n:
    print(n)

invalid literal for int() with base 10: 'sdf'

In [40]:
try:
    x = 2/0
except ZeroDivisionError as z:
    print(z)
    y = int("sudh")

division by zero

ValueError: invalid literal for int() with base 10: 'sudh'

In [41]:
try:
    x = 2/0
except ZeroDivisionError as z:
    print(z)
    try:
        y = int("sudh")
    except ValueError as v:
        print(v)

division by zero
invalid literal for int() with base 10: 'sudh'

In [42]:
try:
    x = 5/0
except ZeroDivisionError as z:
    print(z)
else:               # try block is success then come to else
    print("this will execute itself once try will execute without and error")

division by zero

In [44]:
try:
    x = 5/ 5
    print(x)
except ZeroDivisionError as z:
    print(z)
else:               # try block is success then come to else
    print("this will execute itself once try will execute without and error")

1.0
this will execute itself once try will execute without and error

In [46]:
try:
    x = 5/ 5
    print(x)
except ZeroDivisionError as z:
    print(z)
else:              
    print("this will execute itself once try will execute without and error")
finally:
    print("this will be executed always")

1.0
this will execute itself once try will execute without and error
this will be executed always

In [47]:
d = {'name':'Prasad', 'modile':65663644, 'email':'prsd@gmail.com'}

In [48]:
d

{'name': 'Prasad', 'modile': 65663644, 'email': 'prsd@gmail.com'}

In [49]:
d['course']

KeyError: 'course'

In [1]:
try:
    d = {'name':'Prasad', 'modile':65663644, 'email':'prsd@gmail.com'}
    d['course']
except Exception as e:
    print(e)

'course'

In [51]:
try:
    d = {'name':'Prasad', 'modile':65663644, 'email':'prsd@gmail.com'}
    d['course']
except Exception:
    print("This is key error")

This is key error

In [52]:
l = [4,5,6,7,8,9]
l[10]

IndexError: list index out of range

In [53]:
try:
    l = [4,5,6,7,8,9]
    l[10]
except Exception as e:
    print(e)

list index out of range

In [54]:
try:
    l = [4,5,6,7,8,9]
    l[10]
except Exception:
    print("This is list error")

This is list error

In [55]:
a = 'pras'
int(a)

ValueError: invalid literal for int() with base 10: 'pras'

In [56]:
a = 'pras'
try:
    int(a)
except Exception as e:
    print(e)

invalid literal for int() with base 10: 'pras'

In [65]:
ls

16th_sept.ipynb      23rd_sept.ipynb                  8th_sept_class.ipynb
17th_sept.ipynb      24th_class.ipynb                 data.txt
1st_sep_class.ipynb  30th_sept_exception_hadle.ipynb

In [66]:
ls -l

total 168
-rw-r--r-- 1 abc abc 15863 Sep 16 19:04 16th_sept.ipynb
-rw-r--r-- 1 abc abc 31273 Sep 17 20:27 17th_sept.ipynb
-rw-r--r-- 1 abc abc 11117 Sep  2 10:37 1st_sep_class.ipynb
-rw-r--r-- 1 abc abc  9878 Sep 23 21:11 23rd_sept.ipynb
-rw-r--r-- 1 abc abc 36542 Sep 25 02:50 24th_class.ipynb
-rw-r--r-- 1 abc abc 27945 Sep 30 10:53 30th_sept_exception_hadle.ipynb
-rw-r--r-- 1 abc abc 25841 Sep 10 23:28 8th_sept_class.ipynb
-rw-r--r-- 1 abc abc  1808 Sep 24 20:29 data.txt

In [67]:
pwd

'/config/workspace/python/class_notebooks'

In windows, URL should
1. remove spaces in folder names/ file names
2. if your using / then add extra / immediate
3. or replace / with \

In [58]:
file_name = 'data.txt'
f = open(file_name)
f.read()

'Elections to the Andhra State Legislative Assembly were held on 11 February 1955. 581 candidates contested for the 167 constituencies in the Assembly. There were 29 two-member constituencies and 138 single-member constituencies.[1] The members of the first assembly (1955–62) were allowed a seven-year term. That is to say in 1957, elections were conducted in the newly added region of Telangana alone and then in 1962 general elections were held for the state as a whole.[2]\n\nBackground\nOn 1 October 1953, a separate Andhra State, consisting of the Telugu-speaking areas of the composite Madras State, with 167 constituencies with 190 seats in the Assembly, was formed. On 1 November 1956, Andhra State was merged with Hyderabad State under States Reorganisation Act, 1956, to form a single state, Andhra Pradesh. The districts of Raichur, Gulbarga, and the Marathwada district were detached from the Hyderabad State while merging with Andhra State. Besides, the Siruguppa taluk, the Bellary taluk, the Hospet taluk, and a small area of the Mallapuram sub-taluk were transferred from Mysore State to Andhra Pradesh. The districts of Raichur and Gulbarga were transferred to the Mysore State, while the Marathwada district was transferred to the Bombay State.[3] This resulted in re-organization of assembly constituencies of Andhra Pradesh giving way to 85 constituencies with 105 seats in the assembly.\n\nResults\nResults by party\n\nParties and Coalitions\tPopular vote\tSeats\nVote\t%\t+/-\tContested\tWon\t+/-\nIndian National Congress\t33,94,109\t39.35%\t\t142\t119\t\nKrishikar Lok Party\t6,25,827\t7.26%\t\t37\t22\t\nCommunist Party of India\t26,85,251\t31.13%\t\t169\t15\t\nPraja Socialist Party\t4,81,666\t5.58%\t\t45\t13\t\nPraja Party\t2,40,884\t2.79%\t\t12\t5\t\nIndependents\t11,88,887\t13.78%\t\t170\t22\t\nSource: Election Commission of India[4]'

In [59]:
file_name = 'data1.txt'
f = open(file_name)
f.read()

FileNotFoundError: [Errno 2] No such file or directory: 'data1.txt'

In [64]:
try:
    file_name = 'data3.txt'
    f = open(file_name)
    print(f.read())
except Exception as e:
    print(e)

[Errno 2] No such file or directory: 'data3.txt'

In [68]:
try:
    n = int(input("Enter a number"))
    div = 3523 / n
    print(div)
except ValueError :
    print("user has entered invalid input")

user has entered invalid input

In [69]:
try:
    n = int(input("Enter a number"))
    div = 3523 / n
    print(div)
except ValueError :
    print("user has entered invalid input")

ZeroDivisionError: division by zero

In [70]:
try:
    n = int(input("Enter a number"))
    div = 3523 / n
    print(div)
except ValueError :
    print("user has entered invalid input")
except ZeroDivisionError :
    print("user has entered Zero")

user has entered Zero

In [71]:
try:
    n = int(input("Enter a number"))
    div = 3523 / n
    print(div)
except (ValueError, ZeroDivisionError) :
    print("user has entered invalid input or may be zero")

user has entered invalid input or may be zero

In [73]:
try:
    try:
        n = int(input("Enter a number"))
        div = 3523 / n
        print(div)
    except ZeroDivisionError :
        print("user has entered zero")
except ValueError :
    print("user has entered invalid input")

user has entered invalid input

In [74]:
try:
    n = int(input("Enter a number"))
    div = 3523 / n
    print(div)
except Exception :
    print("user has entered invalid input or may be zero")

587.1666666666666

In [75]:
try:
    n = int(input("Enter a number"))
    div = 3523 / n
    print(div)
except Exception :
    print("user has entered invalid input or may be zero")
else:
    print(div)

503.2857142857143
503.2857142857143

In [83]:
f = open('data.txt')

In [84]:
f

In [85]:
f.read()

'Elections to the Andhra State Legislative Assembly were held on 11 February 1955. 581 candidates contested for the 167 constituencies in the Assembly. There were 29 two-member constituencies and 138 single-member constituencies.[1] The members of the first assembly (1955–62) were allowed a seven-year term. That is to say in 1957, elections were conducted in the newly added region of Telangana alone and then in 1962 general elections were held for the state as a whole.[2]\n\nBackground\nOn 1 October 1953, a separate Andhra State, consisting of the Telugu-speaking areas of the composite Madras State, with 167 constituencies with 190 seats in the Assembly, was formed. On 1 November 1956, Andhra State was merged with Hyderabad State under States Reorganisation Act, 1956, to form a single state, Andhra Pradesh. The districts of Raichur, Gulbarga, and the Marathwada district were detached from the Hyderabad State while merging with Andhra State. Besides, the Siruguppa taluk, the Bellary taluk, the Hospet taluk, and a small area of the Mallapuram sub-taluk were transferred from Mysore State to Andhra Pradesh. The districts of Raichur and Gulbarga were transferred to the Mysore State, while the Marathwada district was transferred to the Bombay State.[3] This resulted in re-organization of assembly constituencies of Andhra Pradesh giving way to 85 constituencies with 105 seats in the assembly.\n\nResults\nResults by party\n\nParties and Coalitions\tPopular vote\tSeats\nVote\t%\t+/-\tContested\tWon\t+/-\nIndian National Congress\t33,94,109\t39.35%\t\t142\t119\t\nKrishikar Lok Party\t6,25,827\t7.26%\t\t37\t22\t\nCommunist Party of India\t26,85,251\t31.13%\t\t169\t15\t\nPraja Socialist Party\t4,81,666\t5.58%\t\t45\t13\t\nPraja Party\t2,40,884\t2.79%\t\t12\t5\t\nIndependents\t11,88,887\t13.78%\t\t170\t22\t\nSource: Election Commission of India[4]'

In [86]:
f.write('sdfsdfsdfsad')

UnsupportedOperation: not writable

In [87]:
f.close()

In [91]:
try:
    f = open('data.txt')
    f.write("sdfsrrsdf")
except Exception :
    print("there is some issue")
finally:
    f.close()
    print("file closed")

there is some issue
file closed

In [90]:
f

In [92]:
f.read()

ValueError: I/O operation on closed file.

In [93]:
try:
    f = open('data.txt')
    data = f.read()
except Exception :
    print("there is some issue")
else:
    print(data)
finally:
    f.close()
    print("file closed")

Elections to the Andhra State Legislative Assembly were held on 11 February 1955. 581 candidates contested for the 167 constituencies in the Assembly. There were 29 two-member constituencies and 138 single-member constituencies.[1] The members of the first assembly (1955–62) were allowed a seven-year term. That is to say in 1957, elections were conducted in the newly added region of Telangana alone and then in 1962 general elections were held for the state as a whole.[2]

Background
On 1 October 1953, a separate Andhra State, consisting of the Telugu-speaking areas of the composite Madras State, with 167 constituencies with 190 seats in the Assembly, was formed. On 1 November 1956, Andhra State was merged with Hyderabad State under States Reorganisation Act, 1956, to form a single state, Andhra Pradesh. The districts of Raichur, Gulbarga, and the Marathwada district were detached from the Hyderabad State while merging with Andhra State. Besides, the Siruguppa taluk, the Bellary taluk, the Hospet taluk, and a small area of the Mallapuram sub-taluk were transferred from Mysore State to Andhra Pradesh. The districts of Raichur and Gulbarga were transferred to the Mysore State, while the Marathwada district was transferred to the Bombay State.[3] This resulted in re-organization of assembly constituencies of Andhra Pradesh giving way to 85 constituencies with 105 seats in the assembly.

Results
Results by party

Parties and Coalitions	Popular vote	Seats
Vote	%	+/-	Contested	Won	+/-
Indian National Congress	33,94,109	39.35%		142	119
Krishikar Lok Party	6,25,827	7.26%		37	22
Communist Party of India	26,85,251	31.13%		169	15
Praja Socialist Party	4,81,666	5.58%		45	13
Praja Party	2,40,884	2.79%		12	5
Independents	11,88,887	13.78%		170	22
Source: Election Commission of India[4]
file closed

In [94]:
try:
    f = open('data7.txt')
    f.write("sdfsrrsdf")
except Exception :
    print("there is some issue")
finally:
    f.close()
    print("file closed")

there is some issue
file closed

In [95]:
h = int(input("Enter highet of wall"))

In [96]:
h

-23

In [103]:
try:
    a = int(input("Enter height of the wall"))
    if a < 0:
        raise ValueError("Entered hight is negative")
except ValueError as v:
    print(v)

Entered hight is negative

In [109]:
try:
    age = int(input("Enter your age"))
    if age < 0:
        raise ValueError("user has entered negative, which is not valid")
    elif age < 18:
        raise ValueError("user is underage")
    else:
        print("valid user")
except ValueError as v:
    print(v)

user is underage

In [110]:
try:
    age = int(input("Enter your age"))
    if age < 0:
        raise ValueError("user has entered negative, which is not valid")
    elif age < 18:
        raise Exception("user is underage")
    else:
        print("valid user")
except Exception as e:
    print(e)

user is underage

In [111]:
try:
    age = int(input("Enter your age"))
    if age < 0:
        raise ValueError("user has entered negative, which is not valid")
    elif age < 18:
        raise Exception("user is underage")
    else:
        print("valid user")
except Exception as e:
    print(e)

user has entered negative, which is not valid

# logging

In [2]:
import logging as log

In [3]:
log.basicConfig(
    filename = 'test.log',
    level = log.INFO
)

In [4]:
log.info("store a msg")

## **level**
1. DEBUG - 10
2. INFO - 20 
3. WARNING - 30
4. ERROR - 40
5. CRITICAL - 50

In [9]:
log.debug("this is debug")    # debug is 20 above in info, so cant execute

In [6]:
log.warning("this is warning")

In [7]:
log.error("this is error")

In [8]:
log.critical("this is critical")

In [3]:
import logging

logging.basicConfig(
    filename= 'trytest.log', 
    level = logging.INFO
)

try:
    logging.info("==========this is start of my try fucntion===========")
    logging.info("asking your to enter age")
    age = int(input("Enter your age"))
    logging.info("user has entered the age = %d", age)
    if age < 0:
        logging.info("i am checking negative condition")
        raise ValueError("user has enteted a negative age")
    elif age < 18:
        logging.info("i am trying yo check underage condition")
        raise Exception("user is underage")
    else:
        logging.info("valid user")
except Exception as e:
    logging.error(e)

In [1]:
import logging

logging.basicConfig(
    filename= 'trytest1.log', 
    level = logging.INFO, 
    format = '%(asctime)s - %(message)s'
)

try:
    logging.info("==========this is start of my try fucntion===========")
    logging.info("asking your to enter age")
    age = int(input("Enter your age"))
    logging.info("user has entered the age = %d", age)
    if age < 0:
        logging.info("i am checking negative condition")
        raise ValueError("user has enteted a negative age")
    elif age < 18:
        logging.info("i am trying yo check underage condition")
        raise Exception("user is underage")
    else:
        logging.info("valid user")
except Exception as e:
    logging.error(e)

In [3]:
import logging

logging.basicConfig(
    filename= 'trytest1.log', 
    level = logging.DEBUG, 
    format = '%(asctime)s - %(levelname)s - %(message)s'
)

try:
    logging.info("==========this is start of my try fucntion===========")
    logging.info("asking your to enter age")
    age = int(input("Enter your age"))
    logging.info("user has entered the age = %d", age)
    if age < 0:
        logging.info("i am checking negative condition")
        raise ValueError("user has enteted a negative age")
    elif age < 18:
        logging.info("i am trying yo check underage condition")
        raise Exception("user is underage")
    else:
        logging.info("valid user")
except Exception as e:
    logging.error(e)

In [3]:
import logging

logging.basicConfig(
    filename= 'trytest2.log', 
    level = logging.DEBUG, 
    format = '%(asctime)s - %(levelname)s - %(message)s'
)

l = [4,5,6,7,8,0]
logging.info(l)
l1 = []

def even_parser(l):
    try:
        logging.info("inside try bock")
        for i in l:
            logging.info("inside for loog i = %d", i)
            if i % 2 == 0:
                logging.info("checking the value of i")
                l1.append(i)
                logging.info("appending the value i = %d", i)
        return l1
    except Exception as e:
        logging.error(e)

even_parser(l)

[4, 6, 8, 0]