### String Based Assignment Problem

In [23]:
str_1 = input()
reverse_string = str_1[::-1]
print(f"Original String is {str_1}")
print(f"Reverse String is {reverse_string}")

Original String is Cool
Reverse String is looC

In [26]:
str_2 = input()
lower_str_2 = str_2.lower()
rev_string = lower_str_2[::-1]
if lower_str_2 == rev_string:
    print(f"{str_1} is palindrome")
else:
    print(f"{str_1} is not palindrome")

Cool is not palindrome

In [27]:
str_3 = input()
upper_str_3 = str_3.upper()
print(f"String in upper case : {upper_str_3}")

String in upper case : CAPITAL

In [29]:
str_4 = input()
lower_str_4 = str_4.lower()
print(f"String in lower case : {lower_str_4}")

String in lower case : capital

In [30]:
str_5 = input()
lower_str_5 = str_5.lower()
vowels_count = lower_str_5.count('a') + lower_str_5.count('e') + lower_str_5.count('i') + lower_str_5.count('o') + lower_str_5.count('u')
print(f"Number of vowels is {vowels_count}")

Number of vowels is 11

In [35]:
str_6 = input()
lower_str_6 = str_6.lower()

consonants_count = lower_str_6.count('b') + lower_str_6.count('c') + lower_str_6.count('d') + lower_str_6.count('f') + lower_str_6.count('g') + lower_str_6.count('h') \
    + lower_str_6.count('j') + lower_str_6.count('k') + lower_str_6.count('l') + lower_str_6.count('m') + lower_str_6.count('n') + lower_str_6.count('k') + lower_str_6.count('p') \
        + lower_str_6.count('q') + lower_str_6.count('r') + lower_str_6.count('s') + lower_str_6.count('v') + lower_str_6.count('w') + lower_str_6.count('x') + lower_str_6.count('y') \
            + lower_str_6.count('z')
    
print(f"Number of consonants is {consonants_count}")

Number of consonants is 19

In [42]:
str_7 = input()
print("String after removing all spaces : ",str_7.replace(" ", ""))

String after removing all spaces :  Countthenumberofconsonantsinastring.

In [50]:
str_9 = input("Enter String")
word = input("Enter word")
lower_word = word.lower()
lower_str_9 = str_9.lower()

print("Specific word present in string:",lower_word in lower_str_9)

Specific word present in string: True

In [52]:
str_10 = "Ramu is good boy"
str_10.replace("good", 'bad')

'Ramu is bad boy'

In [59]:
str_11 = "I love super heros. Sometimes heros will come to save from demons. We can also become heros"
str_11.count('heros')

3

In [62]:
str_12 = "Welcome to the python class. this class will give idea about python and OOPS concepts."
str_12.find('class')

22

In [63]:
str_13 = "Welcome to the python class. this class will give idea about python and OOPS concepts."
str_13.rfind('class')

34

In [66]:
str_14 = "Ramu is a good boy!"
list_str = str_14.split()
print(list_str)

['Ramu', 'is', 'a', 'good', 'boy!']

In [82]:
list_15 = ['Ramu', 'is', 'a', 'good', 'boy!']
print("list of join:", " ".join(list_15))

list of join: Ramu is a good boy!

In [90]:
str_17 = "I love India!"
str_17.startswith("I love")

True

In [91]:
str_18 = "I love India!"
str_18.endswith("India!")

True

In [92]:
str_19 = "i love cricket"
str_19.title()

'I Love Cricket'

In [102]:
str_20 = "find the longest word in a string"
list_str_20 = str_20.split()
long_str = 0
for word in list_str_20:
    if len(word) >= long_str:
        long_word = word
        long_str = len(word)

long_word

'longest'

In [106]:
str_21 = "find the longest word in a string"
list_str_21 = str_21.split()
short_str = list_str_21[0]
for word in list_str_21:
    if len(word) <= len(short_str):
        short_word = word
        short_str = word

short_word

'a'

In [108]:
str_22 = input()
list_str_22 = str_22.split()

reverse_list = list_str_22[::-1]
" ".join(reverse_list)

'good is Ramu'

In [110]:
str_23 = input()
str_23.isalnum()

True

In [111]:
str_24 = input()
str_24.isnumeric()

True

In [126]:
str_24 = input()
list_str_24 = list(str_24)
ans = []
for char in list_str_24:
    if char.isnumeric():
        ans.append(char)

"".join(ans)

'509443'

In [127]:
str_25 = input()
list_str_25 = list(str_25)
ans = []
for char in list_str_25:
    if char.isalpha():
        ans.append(char)

"".join(ans)

'btr'

In [129]:
str_26 = input()
list_str_26 = list(str_26)
ans = 0
for char in list_str_26:
    if char.isupper():
        ans +=1

ans

3

In [131]:
str_27 = input()
list_str_27 = list(str_27)
ans = 0
for char in list_str_27:
    if char.islower():
        ans +=1

ans

5

In [134]:
str_28 = "Happy BirtheDay"
str_28.swapcase()

'hAPPY bIRTHEdAY'

In [135]:
str_29 = "Florida is beautiful city"
str_29.replace("city", "")

'Florida is beautiful '

In [136]:
str_30 = input()
str_30.endswith('@gmail.com')

True

In [143]:
str_31 = input()
list_str_31 = str_31.split('@')[0]
list_str_31

'nprasad.99usa'

In [144]:
str_32 = input()
list_str_32 = (str_32.split('@')[-1]).split('.')[0]
list_str_32

'gmail'

In [145]:
str_33 = "This is  multi    space in a   string with single    space"
" ".join(str_33.split())

'This is multi space in a string with single space'

In [146]:
str_33 = input()

str_33.startswith('https://')

True

In [149]:
str_34 = input()
str_34.split(':')[0]

'https'

In [153]:
str_35 = input()
list_str_35 = list(str_35)
unique = []
for char in list_str_35:
    if char not in unique:
        print(f"count of {char} is {str_35.count(char)}")
        unique.append(char)

count of H is 1
count of a is 1
count of P is 1
count of p is 1
count of y is 1

In [159]:
punct = "!\"#$%&'()*+,-./:;<=>?@[\\]^_`{|}~"
str_37 = input()
list_str_37 = str_37.split()
for c in list_str_37:
    if c in punct:
        str_37.replace(c, "")

str_37

'Pr@$@434d'

In [158]:
str_37

'I am so happy!. Be cool @Pra$a**'

In [162]:
str_38 = input()
str_38.isdigit()

True

In [163]:
str_39 = input()
str_39.isalpha()

True

In [165]:
str_40 = input()
list_str_40 = list(str_40)

list_str_40

['P', 'y', 't', 'h', 'o', 'n']

In [166]:
str1 = "silent"
str2 = "listen"

if sorted(str1) == sorted(str2):
    print("Strings are anagrams")
else:
    print("strings are not anagrams")

Strings are anagrams

In [169]:
# 42

In [170]:
# 43

In [171]:
# 44

In [172]:
# 45

In [173]:
# 46

In [174]:
# 47

In [175]:
# 48

In [176]:
# 49

In [177]:
# 50

### List Practice Problems

In [205]:
# 1. Create a list with integers from 1 to 10.
list1 = list(range(10))
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [206]:
# 2. Find the length of a list without using the `len()` function.

In [207]:
# 3. Append an element to the end of a list.
list1.append(10)
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [208]:
# 4. Insert an element at a specific index in a list.
list1.insert(4, 'Prasad')
list1

[0, 1, 2, 3, 'Prasad', 4, 5, 6, 7, 8, 9, 10]

In [209]:
# 5. Remove an element from a list by its value.
list1.remove(10)
list1

[0, 1, 2, 3, 'Prasad', 4, 5, 6, 7, 8, 9]

In [210]:
# 6. Remove an element from a list by its index.
list1.pop(4)
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [212]:
# 7. Check if an element exists in a list.
element = int(input())
element in list1

True

In [217]:
# 8. Find the index of the first occurrence of an element in a list.
list2 = [22,2,53,643,22,53, 22,2,643]
list2.index(2)

1

In [218]:
# 9. Count the occurrences of an element in a list.
list2.count(2)

2

In [231]:
# 10. Reverse the order of elements in a list.

list3 = ['1','python', 'hello', '34', 'cool']
list3.reverse()
list3

['cool', '34', 'hello', 'python', '1']

In [232]:
# 11. Sort a list in ascending order.
list3.sort()
list3

['1', '34', 'cool', 'hello', 'python']

In [235]:
# 12. Sort a list in descending order.
list3.sort(reverse=True)
list3

['python', 'hello', 'cool', '34', '1']

In [237]:
# 13. Create a list of even numbers from 1 to 20.
list4 = list(range(0,20,2))
list4

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [240]:
# 14. Create a list of odd numbers from 1 to 20.
list5 = list(range(1, 20,2))
list5

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [241]:
# 15. Find the sum of all elements in a list.
sum(list4)

90

In [242]:
# 16. Find the maximum value in a list.
max(list5)

19

In [245]:
# 17. Find the minimum value in a list.
min(list3)

'1'

In [247]:
# 18. Create a list of squares of numbers from 1 to 10.
list6 = [i**2 for i in range(1, 11)]
list6

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [249]:
# 19. Create a list of random numbers.
list7 = [10, 42.5, True, 'cat', 'Dog', True, False, 'cat', 10, 'Nature', 100.0, 100, 'Dog']

In [250]:
# 20. Remove duplicates from a list.
list8 = set(list7)
unique_list8 = list(list8)

unique_list8

[False, True, 'cat', 100.0, 'Nature', 10, 42.5, 'Dog']

In [8]:
list9 = [10, 20, 30, 40, 50]
list10 = [5, 50, 500, 5000, 50000]

# [e for e in list9 if e in list10]
list(set(list9).intersection(list10))

[50]

In [9]:
# 22. Find the difference between two lists.
list(set(list9).difference(list10))

[20, 40, 10, 30]

In [10]:
# 23. Merge two lists.
list9.extend(list10)
list9

[10, 20, 30, 40, 50, 5, 50, 500, 5000, 50000]

In [12]:
# 24. Multiply all elements in a list by 2.
[e*2 for e in list9]

[20, 40, 60, 80, 100, 10, 100, 1000, 10000, 100000]

In [13]:
# 25. Filter out all even numbers from a list.
list11 = [0, 15, 20, 50, 62]
[e for e in list11 if e%2==0]

[0, 20, 50, 62]

In [ ]:
# 26. Convert a list of strings to a list of integers.